{
	"duration"    : 3000,
	"calibration" : 100,
	"closeEnough" : 1.0,
	"randomWalkwayRadius" : 100.0,
	"attractionRadius" : 2.0,
	"privateAreaRadius": 1,
	"threads" : 2,
	"processDims":{
		"x":2, "y":2, "borders":0
		
	},
   	"input":{
		"map"             : "input/iquique/area.osrm",
		"area"            : "input/iquique/area.geojson",
		"initial_zones"   : "input/iquique/initial_zones.geojson",
		"reference_zones" : "input/iquique/reference_zones.geojson"
	},
	"agents":[
		{
			"number" : 10000,
			"model" : "ShortestPath",
			"speed" : {
				"min" : 0.6, 
				"max" : 1.2
			},
			"SFM" : {
				"timeRelax" : 20,
				"sigma" : 0.3,
				"repulsiveForceAgents" : 15.1,
				"cosphi" : -0.17365
			}
		},
		{
			"number" : 0,
			"model" : "FollowTheCrowd",
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 60,
				"sigma" : 0.6,
				"repulsiveForceAgents" : 2.1,
				"cosphi" : -0.17365
			}
		},
		{
			"number" : 0,
			"model" : "RandomWalkway",
			"speed" : {
				"min" : 0.1, 
				"max" : 0.6
			},
			"SFM" : {
				"timeRelax" : 60,
				"sigma" : 0.6,
				"repulsiveForceAgents" : 10.1,
				"cosphi" : -0.17365
			}
		}
	],
	"output":{
		"progressBar"     : false,
		"interval"        : 10,
		"filesim-out"     : true,
		"filesim-path"    : "./results/agents",
		"filesim-prefix"  : "",
		"filesim-sufix"   : ".txt",
		"create-gif"      : false,
		"stats-out"       : false,
		"stats-interval"  : 20,
		"stats-path"    : "./results/stats"
	}
}
